* {
    background-color: gray;
}

.hide {
    display: none;
}

.time {
    float: right;
}

.button {
    background-color: darkmagenta;
    color: white;
    padding: 10px;
    margin: 10px;
    display: flex;
    min-width: 100%;
    display: flex;
    justify-content: center;
 

    

}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;    
}


#viewScoreboard {
    color: blue;
    text-decoration: underline;
}

#viewScoreboard:hover {
    color: rgb(131, 61, 197)
}



.button:hover {
    background-color: magenta;

}